body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#topbar {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #e9ecef;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.map-legend {
    /* children displayed horizontally */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* center children */
    align-items: center;
    background-color: rgba(218, 218, 218, 0.4);
    /* round edges */
    border-radius: 5px;
}

/* Define the gradient background for the .gradient-box element */
.health-box {
    width: 100px;
    height: 10px;
    background: linear-gradient(to right, rgb(0, 255, 85), rgb(255, 0, 0));
}

.healed-box {
    width: 10px;
    height: 10px;
    background: yellow;
}

.healed-box {
    width: 10px;
    height: 10px;
    background: yellow; /* Default color */
}

/* Additional CSS classes for color toggling */
.healed-box-yellow {
    background: yellow;
}

.healed-box-green {
    background: rgb(0, 255, 85);
}


.dead-box {
    width: 10px;
    height: 10px;
    background: black;
}

h3 {
    margin: 3px 0;
}

ul {
    margin: 0;
}

#languageToggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#languageToggle:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #007bff;
}

.start {
    background-color: green;
    color: white;
}

.stop {
    background-color: red;
    color: white;
}


.collapsible-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Initially hide the list */
}


.bullet-list li:before {
    content: "\2022"; /* Use a bullet point character */
    color: #000000; /* Customize the bullet point color */
    font-size: 15px;
    margin-right: 10px;
}

.bullet-list li {
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 10px 5px 5px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    background-color: rgba(250, 160, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.collapsible-list li {
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 0px;
    padding: 5px 5px;
    background-color: rgba(250, 160, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

/* Optional: Add some bullet points */
.collapsible-list li:before {
    content: "\2022"; /* Use a bullet point character */
    color: #ff6600; /* Customize the bullet point color */
    font-size: 20px;
    margin-right: 10px;
}

.collapsible {
    background-color: rgb(255, 102, 0, 0.5);
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    border-radius: 5px;
}

.collapsible.active {
    background-color: #ff6600; /* Change background color when active/open */
    color: white; /* Change text color when active/open */
}

.shake {
    animation: shake 1s ease;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-3px); }
    20%, 40%, 60%, 80% { transform: translateX(3px); }
}



#presets{
    margin: 5px 0;
    /* soothing transparent grey */
    background-color: rgba(128, 128, 128, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;
    /* children in a column */
    display: flex;
    flex-direction: column;
}

#setup {
    margin: 5px 0;
    /* soothing transparent blue */
    background-color: rgba(0, 246, 255, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;    
}

#infectionRateDiv {
    margin: 5px 0;
    /* soothing transparent red */
    background-color: rgba(255, 0, 0, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;

}

#recoveryRateDiv {
    margin: 5px 0;
    /* soothing transparent purple-blue */
    background-color: rgba(0, 0, 255, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;

}

#loweredInfectionRate {
    margin: 5px 0;
    /* soothing transparent yellow */
    background-color: rgba(255, 255, 0, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;
}

#healChanceDiv {
    margin: 5px 0;
    /* soothing transparent green */
    background-color: rgba(0, 255, 0, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;
}

#incubationDiv {
    margin: 5px 0;
    /* soothing transparent orange */
    background-color: rgba(255, 165, 0, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;
    
}

#controlsAndCharts {
    display: flex;
    justify-content:center;
    flex-wrap: nowrap;
}

#controls {
    flex: 0 0 220px;
    margin: 0 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#presetsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 45%;
}

#toggleHealedColorDiv {
    margin: 5px;
}

#test {
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 0px 0px 10px #bbb;
    width: 60%; 
    display: inline-block;
    flex-direction: column;
    flex: 0 1 60%;
    margin: 0 2%;
    border-radius: 5px;
}

/* media queries */
@media screen and (max-width: 768px) {
    #controlsAndCharts {
        flex-direction: column;
        /* center children */
        align-items: center;
    }

    #controls {
        width: 90%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    #test {
        width: 98%;
        margin: 0 0 5% 0;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }
}

h1 {
    text-align: center;
    color: #333;
}

#gameCanvas {
    display: block;
    margin: 20px auto;
}

#populationChart {
    width: 100%;
}

#controls button {
    border-radius: 5px;
    margin: 5px 2px;
    padding: 10px 10px;
    border-width: 1px;
    box-shadow: 0px 0px 5px #bbb;
}

#presetsWrapper button {
    width: 45%;
    text-align: center;
    padding: 6px 3px;
    margin: 5px 5px;
}

#controls label {
    display: block;
    margin-top: 10px;
}

#controls input {
    margin: 5px 0;
}

input[type="range"] {
    width: 100%;
}

input[type="number"] {
    width: 30%;
}