body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#topbar {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #e9ecef;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

#languageToggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#languageToggle:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #007bff;
}

.start {
    background-color: green;
    color: white;
}

.stop {
    background-color: red;
    color: white;
}

ul {
    padding: 10px;
    margin: 0;
}

#setup {
    margin: 5px 0;
    /* soothing transparent blue */
    background-color: rgba(0, 246, 255, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;
}

#infectionRateDiv {
    margin: 5px 0;
    /* soothing transparent red */
    background-color: rgba(255, 0, 0, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;

}

#recoveryRateDiv {
    margin: 5px 0;
    /* soothing transparent purple-blue */
    background-color: rgba(0, 0, 255, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;

}

#loweredInfectionRate {
    margin: 5px 0;
    /* soothing transparent yellow */
    background-color: rgba(255, 255, 0, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;
}

#healChanceDiv {
    margin: 5px 0;
    /* soothing transparent green */
    background-color: rgba(0, 255, 0, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;
}

#incubationDiv {
    margin: 5px 0;
    /* soothing transparent orange */
    background-color: rgba(255, 165, 0, 0.2);
    padding: 5px 10px;
    /* round edges */
    border-radius: 5px;
    
}

#controlsAndCharts {
    display: flex;
    justify-content:center;
    flex-wrap: nowrap;
}

#controls {
    flex: 0 0 220px;
    margin: 0 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#test {
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 0px 0px 10px #bbb;
    width: 60%; 
    display: inline-block;
    flex-direction: column;
    flex: 0 1 60%;
    margin: 0 2%;
}

/* media queries */
@media screen and (max-width: 768px) {
    #controlsAndCharts {
        flex-direction: column;
        /* center children */
        align-items: center;
    }

    #controls {
        width: 90%;
        margin: 0;
    }

    #test {
        width: 90%;
        margin: 0;
    }
}



h1 {
    text-align: center;
    color: #333;
}

#gameCanvas {
    display: block;
    margin: 20px auto;
}

/* #populationChart {
    width: 100%;
    height: 500px;
    margin: 0 auto;
} */

#controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#controls button {
    margin: 10px 0;
    padding: 10px 20px;
}

#controls label {
    display: block;
    margin-top: 20px;
}

#controls input {
    margin: 5px 0;
}

input[type="range"] {
    width: 100%;
}

input[type="number"] {
    width: 30%;
}